{% extends 'base.html.twig' %}

{% block body %}
    <div class="center">
        <span>Автор {{ author.getSecondName ~ ' ' ~ author.getFirstName ~ ' ' ~ author.getThirdName}} успешно удален</span>
        <a href="{{ path('main') }}">Вернуться на главную</a>
    </div>
{% endblock %}
