{% extends 'base.html.twig' %}

{% block body %}
    <div class="center">
        <span>Книга {{ book.title}} успешно удалена</span>
        <a href="{{ path('main') }}">Вернуться на главную</a>
    </div>
{% endblock %}
