{% extends 'base.html.twig' %}

{% block body %}
    <div class="center">
        <a href="{{ path('book_new') }}">Создать книгу</a>
        <a href="{{ path('books') }}">Список книг</a>
        <a href="{{ path('author_new') }}">Создать автора</a>
        <a href="{{ path('authors') }}">Список авторов</a>
    </div>
{% endblock %}
